* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Didact Gothic", sans-serif;
}
body {
	background: $bg;
	margin: 0;
	padding: 0;
	font-size: 16px;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
input:focus {
	outline: none;
}
button,
a,
input[type="submit"],
.bi {
	cursor: pointer;
	transition: all $transition;
}
a,
.bi {
	text-decoration: none;
	transition: all $transition;
}
a {
	color: $linkcol;
	&:hover {
		color: $hovercol;
	}
}
.bi {
	color: $textcol;
	&:hover {
		color: $textcol1;
	}
}
p {
	color: $textcol;
}
.mainheader {
	background: $bg2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	height: 70px;
	width: 100%;
	z-index: 100;
	position: sticky;
	top: 0;

	.signin-switch {
		border-radius: 30px;
		display: flex;
		background: $blue2;
		a {
			flex-grow: 1;
			display: inline-block;
			padding: 10px 15px;
			border-radius: 30px;
			color: white;
			text-align: center;
			font-size: 0.8rem;
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
			&.active {
				background: $blue;
				padding: 10px 15px;
			}
		}
	}
	.menu-right {
		display: flex;
		align-items: center;
		gap: 10px;
		> * {
			display: flex;
			align-items: center;
		}
	}
	.bi-search {
		width: 1.5rem;
		height: 1.5rem;
		color: $textcol;
	}
	.my-account {
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			text-align: right;
			transition: 0.3s all ease;
			color: $linkcol;
		}
		&.active,
		&:hover {
			p {
				color: $hovercol;
			}
			.bi {
				background: $blue2;
				color: $hovercol;
			}
		}
		.login {
			font-weight: bold;
		}
		.role {
			font-size: 0.8rem;
		}
		.bi {
			background: $bg;
			height: 40px;
			width: 40px;
			border-radius: 100%;
		}
	}
}

.mainmenu {
	background: inherit;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		gap: 25px;
		font-size: 1.2rem;

		height: 100%;
	}
	li {
		position: relative;

		height: 100%;
		&.active > a {
			color: $hovercol;
		}
	}
	a {
		font-weight: 500;
		display: flex;
		align-items: center;
		height: 100%;
	}
	.submenu {
		margin: 0;
		transform-origin: top;
		transform: translateX(-50%) scaleY(0);
		transition: transform 0.3s ease;
		position: absolute;
		top: 100%;
		width: fit-content;
		left: 50%;
		background: lighten($bg2, 15%);
		
		border-radius: 0 0 10px 10px;
		height: fit-content;
		z-index: 10;
		gap: 0;
		padding: 1rem 0;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 2rem;
			background: linear-gradient(to bottom, rgba($bg2, 0.4), transparent);
		}
		li {
			padding: 0 1rem;
			a {
				text-wrap: nowrap;
				height: 100%;
			}
		}
		li:first-child {
			border-right: 2px solid $bg;
		}
	}

	li:hover > .submenu,
	.submenu:hover {
		//position: relative;
		transform: translateX(-50%) scaleY(1);
	}
}
.logo {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	h2 {
		font-weight: 300;
		font-size: 2rem;
		color: $linkcol;
	}
}
.footer {
	background: $bg2;
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: 150px;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.footer-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		position: relative;

	}

	p {
		color: $textcol1;
	}
}

.btn-primary {
	background: $primary;
	color: white;
	padding: 8px 25px;
	border-radius: 20px;
	font-size: 1rem;
	transition: all $transition;
	border: 2px solid $primary;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	&:not(:disabled):hover {
		background: $primary-hover;
		border: 2px solid $primary-hover;
	}
}

.main-wrap {
	padding: 40px;
	position: relative;
	flex-grow: 1;
	h1 {
		text-align: center;
		margin: 0.5rem 0 1rem 0;
		font-size: 2.5rem;
	}
}

.grid-menu {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	grid-template-rows: repeat(2, 180px);
	justify-content: space-around;
	max-width: 780px;
	margin: 0 auto;
	gap: 40px;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		background: white;
		border-radius: 100%;
		text-align: center;
		color: $textcol;
		transition: all 0.4s ease;
		font-size: 1.2rem;

		&:hover {
			background: $blue;
			color: white;
			transform: scale(1.05);
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

			.bi {
				color: white;
			}
		}
		.bi {
			width: 50%;
			margin-bottom: 10px;
		}
	}
}
.products-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 780px;
	max-width: 780px;
	margin: 0 auto;
	gap: 10px;
	a {
		background: $blue2;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1.4rem;
		min-height: 320px;
		width: 100%;
		max-width: 250px;
		transition: all 0.4s ease;

		&:hover {
			background: $blue;
			transform: scale(1.04);
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		}
		.bi {
			color: white;
			width: 50%;
			margin-bottom: 10px;
		}
	}
}
.control-panel {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0;
}
.filters-form {
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	label {
		display: flex;
		align-items: center;
		padding: 10px 20px;
		flex-shrink: 0;
		background: $blue;
		gap: 20px;
		color: white;
	}
	select {
		background: $bg;
		padding: 4px 8px;
		border-radius: 5px;
		border: none;
	}

	.search-fieldset {
		display: flex;
		align-items: center;
		padding: 0;
		width: 360px;
		background: white;
		border: none;
		flex-shrink: 1;
		input {
			height: 100%;
			width: 100%;
			border: none;
		}
		button {
			background: none;
			border: none;
			outline: none;
			padding: 5px 10px;
			.bi {
				color: #000;
				width: 20px;
				height: 20px;
			}
		}
	}
	.category-filter {
		background: $blue2;
	}
	.promo-filter,
	.date-filter {
		background: darken($blue2, 10%);
		color: white;
	}
}

.content-table {
	border: 2px solid $blue2;
	border-collapse: collapse;
	background: darken($blue, 40%);
	thead {
		background: inherit;
		color: white;
		text-align: center;
		position: sticky;
		top: 69px;
		background: inherit;
		
		tr {
			.shade1 {
				background: $blue;
			}
			.shade2 {
				background: darken($blue, 5%);
			}
			.shade3 {
				background: darken($blue, 10%);
			}
			.shade4 {
				background: darken($blue, 15%);
			}
			.shade5 {
				background: darken($blue, 20%);
			}
			.shade6 {
				background: darken($blue, 25%);
			}
			.shade7 {
				background: darken($blue, 30%);
			}
			.shade8 {
				background: darken($blue, 35%);
			}
			&:first-child {
				:nth-child(1) {
					background: $blue;
				}
				:nth-child(2) {
					background: darken($blue, 5%);
				}
				:nth-child(3) {
					background: darken($blue, 10%);
				}
				:nth-child(4) {
					background: darken($blue, 15%);
				}
				:nth-child(5) {
					background: darken($blue, 20%);
				}
				:nth-child(6) {
					background: darken($blue, 25%);
				}
				:nth-child(7) {
					background: darken($blue, 30%);
				}
				:nth-child(8) {
					background: darken($blue, 35%);
				}
				:nth-child(9) {
					background: darken($blue, 40%);
				}
			}
		}
	}

	th,
	td {
		padding: 10px;
	}
	td {
		border-left: 2px solid $blue2;
		border-right: 2px solid $blue2;
		background: white;
		transition: all $transition;
	}
	tr:nth-child(2n) td {
		background: lighten($bg, 5%);
	}
	tr:has(td .table-btn.edit:hover) td {
		background: $yellow;
	}
	tr.editing td {
		background: lighten($yellow, 40%);
		input,
		select {
			width: 100%;
			border: 2px solid lighten($yellow, 30%);
			//background: lighten($yellow, 40%);
		}
	}
	tr:has(td .table-btn.delete:hover) td {
		background: $invalid;
	}
}

.table-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100%;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	transition: all $transition;
	background: none;

	border: 2px solid $invalid;

	overflow-x: auto;
	max-width: 100%;
	.bi {
		color: $invalid;
	}
	&:disabled .bi {
		cursor: not-allowed;
	}
	&:not(:disabled):hover {
		//box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
		box-shadow: none;
		background: $invalid;
		.bi {
			color: white;
		}
	}
	&.edit {
		border: none;
		background: $yellow;
		.bi {
			color: white;
		}
		&:not(:disabled):hover {
			background: white;

			.bi {
				color: $yellow;
			}
		}
	}
	&.delete {
		background: $invalid;
		border: none;
		.bi {
			color: white;
		}
		&:not(:disabled):hover {
			background: white;

			.bi {
				color: $invalid;
			}
		}
	}
}

.btn-control {
	padding: 10px 30px;
	border-radius: 8px;
	text-align: center;
	background: black;
	color: white;
	border: none;
	font-size: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	&:hover {
		background: $blue;
	}
}

.add-form-container {
	min-width: 600px;
	max-width: 100%;
	border-radius: 8px 8px 0 0;

	&:has(.totals-panel) {
		min-width: 400px;
	}
	&[open] {
		background: $blue;
		border-radius: 8px;
		overflow: hidden;
		.add-form-opener {
			background: $blue2;
			color: white;
			.bi {
				transform: rotate(90deg);
			}
		}
	}
	.add-form-opener {
		display: flex;

		align-items: center;
		padding: 10px;
		gap: 10px;
		color: $blue2;
		border-radius: 8px 8px 0 0;
		border-bottom: 4px solid $blue2;

		cursor: pointer;
		transition: all $transition;
		.bi {
			color: inherit;
		}
		&:hover {
			background: $blue2;
			color: white;
			.bi {
				color: inherit;
				transform: rotate(90deg);
			}
		}
	}

	.add-form {
		padding: 20px;
		color: $textcol1;
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		.items-container {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		fieldset {
			border: none;
			display: flex;
			align-items: stretch;
			gap: 20px;

			&:has(legend) {
				border: 1px white solid;
				border-radius: 10px;
				padding: 10px;
			}
			legend {
				color: white;
				background: $blue2;
				padding: 0 10px;
				border-radius: 5px;
				font-weight: 500;
				font-size: 0.85rem;
				letter-spacing: 1px;
				line-height: 1.5em;
			}
			button {
				align-self: center;
			}
		}
		label {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 100%;
			flex-grow: 1;
			font-weight: 600;
			color: $textcol1;

			&.inline {
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				span:has(output) {
					margin: 0;
					padding: 0;
				}
			}
		}
		input,
		select,
		textarea {
			padding: 10px;
			margin-top: 5px;
			resize: none;
			background: lighten($blue, 20%);
			color: $textcol1;
			&::placeholder {
				color: $textcol1;
				opacity: 0.6;
			}
		}
		span:has(output) {
			padding: 10px 0;
			margin-top: 5px;
			resize: none;
		}
	}
}
.banner {
	padding: 15px;
	border-radius: 8px;
	font-weight: 700;
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: 20px 0;

	&.alert-success {
		background: #ceeed6;
		color: #155724;
		border: 1px solid #a8e3b6;
	}
	&.alert-danger {
		background: #ffd1d5;
		color: #721c24;
		border: 1px solid #f6b1b8;
	}
	&.alert-warning {
		background: #fff4d1;
		color: #72521c;
		border: 1px solid #ffeaa5;
	}
	&.alert-info {
		background: #d1eeff;
		color: #1c4372;
		border: 1px solid #a5cdff;
	}
	.close {
		position: absolute;
		top: 8px;
		right: 8px;
		cursor: pointer;
		color: $blue;
		background: none;
		border: none;
		&:hover {
			color: $blue2;
		}
	}
}
#edit-form {
	max-width: 90vw;
}

.bills-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}
.bill {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px;
	background: white;

	width: 100%;
	max-width: 500px;
	margin: 5px 0;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
	position: relative;

	.table-btn {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	&::before {
		content: "";
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 5px; 
		background: white; 
		// clip-path: polygon(0% 100%, 2% 0%, 4% 100%, 6% 0%, 8% 100%, 10% 0%, 12% 100%, 14% 0%, 16% 100%, 18% 0%, 20% 100%, 22% 0%, 24% 100%, 26% 0%, 28% 100%, 30% 0%, 32% 100%, 34% 0%, 36% 100%, 38% 0%, 40% 100%, 42% 0%, 44% 100%, 46% 0%, 48% 100%, 50% 0%, 52% 100%, 54% 0%, 56% 100%, 58% 0%, 60% 100%, 62% 0%, 64% 100%, 66% 0%, 68% 100%, 70% 0%, 72% 100%, 74% 0%, 76% 100%, 78% 0%, 80% 100%, 82% 0%, 84% 100%, 86% 0%, 88% 100%, 90% 0%, 92% 100%, 94% 0%, 96% 100%, 98% 0%, 100% 100%);
		clip-path: polygon(
			0% 100%,
			1% 0%,
			2% 100%,
			3% 0%,
			4% 100%,
			5% 0%,
			6% 100%,
			7% 0%,
			8% 100%,
			9% 0%,
			10% 100%,
			11% 0%,
			12% 100%,
			13% 0%,
			14% 100%,
			15% 0%,
			16% 100%,
			17% 0%,
			18% 100%,
			19% 0%,
			20% 100%,
			21% 0%,
			22% 100%,
			23% 0%,
			24% 100%,
			25% 0%,
			26% 100%,
			27% 0%,
			28% 100%,
			29% 0%,
			30% 100%,
			31% 0%,
			32% 100%,
			33% 0%,
			34% 100%,
			35% 0%,
			36% 100%,
			37% 0%,
			38% 100%,
			39% 0%,
			40% 100%,
			41% 0%,
			42% 100%,
			43% 0%,
			44% 100%,
			45% 0%,
			46% 100%,
			47% 0%,
			48% 100%,
			49% 0%,
			50% 100%,
			51% 0%,
			52% 100%,
			53% 0%,
			54% 100%,
			55% 0%,
			56% 100%,
			57% 0%,
			58% 100%,
			59% 0%,
			60% 100%,
			61% 0%,
			62% 100%,
			63% 0%,
			64% 100%,
			65% 0%,
			66% 100%,
			67% 0%,
			68% 100%,
			69% 0%,
			70% 100%,
			71% 0%,
			72% 100%,
			73% 0%,
			74% 100%,
			75% 0%,
			76% 100%,
			77% 0%,
			78% 100%,
			79% 0%,
			80% 100%,
			81% 0%,
			82% 100%,
			83% 0%,
			84% 100%,
			85% 0%,
			86% 100%,
			87% 0%,
			88% 100%,
			89% 0%,
			90% 100%,
			91% 0%,
			92% 100%,
			93% 0%,
			94% 100%,
			95% 0%,
			96% 100%,
			97% 0%,
			98% 100%,
			99% 0%,
			100% 100%
		);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 5px; 
		background: white; 
		// clip-path: polygon(
		// 	0% 0%, 2% 100%, 4% 0%, 6% 100%, 8% 0%, 10% 100%, 12% 0%, 14% 100%, 16% 0%, 18% 100%,
		// 	20% 0%, 22% 100%, 24% 0%, 26% 100%, 28% 0%, 30% 100%, 32% 0%, 34% 100%, 36% 0%, 38% 100%,
		// 	40% 0%, 42% 100%, 44% 0%, 46% 100%, 48% 0%, 50% 100%, 52% 0%, 54% 100%, 56% 0%, 58% 100%,
		// 	60% 0%, 62% 100%, 64% 0%, 66% 100%, 68% 0%, 70% 100%, 72% 0%, 74% 100%, 76% 0%, 78% 100%,
		// 	80% 0%, 82% 100%, 84% 0%, 86% 100%, 88% 0%, 90% 100%, 92% 0%, 94% 100%, 96% 0%, 98% 100%,
		// 	100% 0%
		// );
		clip-path: polygon(
			0% 0%,
			1% 100%,
			2% 0%,
			3% 100%,
			4% 0%,
			5% 100%,
			6% 0%,
			7% 100%,
			8% 0%,
			9% 100%,
			10% 0%,
			11% 100%,
			12% 0%,
			13% 100%,
			14% 0%,
			15% 100%,
			16% 0%,
			17% 100%,
			18% 0%,
			19% 100%,
			20% 0%,
			21% 100%,
			22% 0%,
			23% 100%,
			24% 0%,
			25% 100%,
			26% 0%,
			27% 100%,
			28% 0%,
			29% 100%,
			30% 0%,
			31% 100%,
			32% 0%,
			33% 100%,
			34% 0%,
			35% 100%,
			36% 0%,
			37% 100%,
			38% 0%,
			39% 100%,
			40% 0%,
			41% 100%,
			42% 0%,
			43% 100%,
			44% 0%,
			45% 100%,
			46% 0%,
			47% 100%,
			48% 0%,
			49% 100%,
			50% 0%,
			51% 100%,
			52% 0%,
			53% 100%,
			54% 0%,
			55% 100%,
			56% 0%,
			57% 100%,
			58% 0%,
			59% 100%,
			60% 0%,
			61% 100%,
			62% 0%,
			63% 100%,
			64% 0%,
			65% 100%,
			66% 0%,
			67% 100%,
			68% 0%,
			69% 100%,
			70% 0%,
			71% 100%,
			72% 0%,
			73% 100%,
			74% 0%,
			75% 100%,
			76% 0%,
			77% 100%,
			78% 0%,
			79% 100%,
			80% 0%,
			81% 100%,
			82% 0%,
			83% 100%,
			84% 0%,
			85% 100%,
			86% 0%,
			87% 100%,
			88% 0%,
			89% 100%,
			90% 0%,
			91% 100%,
			92% 0%,
			93% 100%,
			94% 0%,
			95% 100%,
			96% 0%,
			97% 100%,
			98% 0%,
			99% 100%,
			100% 0%
		);
	}

	.bill-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: dashed 2px $bg;
	}
	.bill-footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 10px;
		border-top: dashed 2px $bg;

		> * {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		.bill-total {
			font-size: 1.15rem;
		}
		.bill-vat {
			font-size: 0.8rem;
			color: $blue2;
		}
	}
	.bill-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px 0;
		font-size: 1rem;
		flex-grow: 1;
		.bill-item {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&-name {
				font-weight: bold;
				text-wrap: wrap;
				word-wrap: break-word;
			}
			&-producer {
				font-size: 0.9rem;
			}
			&-price {
				text-align: right;
			}
		}
	}
}
.totals-panel {
	width: 100%;
	background: $blue;
	padding: 20px;
	border-radius: 8px;
	color: $textcol1;
	h2 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}
.totals-form {
	width: 100%;

	padding-bottom: 20px;
	border-bottom: 2px solid $blue2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	label {
		font-size: 1.2rem;
		font-weight: bold;
	}
}
.totals-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding-top: 20px;

	h3 {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		span {
			display: inline-block;
			padding: 3px 6px;
			border-radius: 5px;
			background: $blue2;
			color: white;
			font-weight: 500;
		}
	}
}

@media screen and (max-width: 768px) {
	.main-wrap {
		width: 100%;
		padding: 20px;
	}
	.grid-menu {
		grid-template-columns: repeat(2, 150px);
		grid-template-rows: auto;
		gap: 20px;
		a {
			height: 150px;
		}
	}
	.products-menu {
		flex-direction: column;
		gap: 20px;
		a {
			height: fit-content;
			min-height: fit-content;
			padding: 20px 0;
			width: 100%;
			max-width: 100%;
		}
	}
	.control-panel {
		flex-direction: column;
		gap: 20px;
	}
	.filters-form {
		flex-direction: column;
		width: 100%;
		fieldset,
		label {
			width: 100%;
		}
		label {
			justify-content: space-between;
		}
		.date-filter {
			flex-direction: column;
			gap: 10px;
		}
		.search-fieldset {
			width: 100%;
		}
	}
	.add-form-container,
	.add-form-container:has(.totals-panel) {
		min-width: 100%;
		.totals-form {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			select {
				width: 100%;
			}
		}
		.add-form {
			fieldset {
				flex-direction: column;
			}
			select {
				width: 100%;
				option {
					width: 100%;
					text-wrap: wrap;
				}
			}
		}
	}
	.mainmenu {
		position: relative;
		left: 0;
		transform: none;
	}
	.mainheader {
		height: fit-content;
		flex-direction: column;
		gap: 10px;
		padding: 10px 0;
		position: relative;
		.mainmenu {
			width: 100%;
			ul {
				flex-direction: column;
				gap: 10px;
			}
		}
	}
	.footer {
		.footer-links {
			flex-direction: column;
			gap: 10px;
			margin-bottom: 20px;
		}
		.mainmenu {
			width: 100%;
			ul {
				flex-wrap: wrap;
				justify-content: flex-start;
				row-gap: 5px;
			}
		}
	}
	#edit-form {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
		position: unset;
	}
	.content-table {
		overflow-x: auto;
		width: 100%;
		max-width: 100%;
		position: unset;

		thead {
			position: sticky;
			top: 00px;
		}
	}
}
.container {
	background: white;
	margin: 20px 0;
	padding: 20px;
	color: $textcol;
	width: 500px;
	max-width: 100%;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	h2,
	p {
		width: fit-content;
	}
}
