.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.login-container {
	max-width: 20rem;
	width: 100%;
	background: $blue2;
	border-radius: 8px;
	color: $textcol1;

	.other-signin {
		padding: 10px 30px;
		text-align: center;
		font-size: 0.8rem;
		color: $textcol1;
	}
	a {
		color: $primary-hover;
		text-decoration: underline;
	}
	.alert p {
		color: $invalid-bg;
		font-size: 0.85rem;
		font-weight: 500;
	}
    .notice {
        font-size: 0.8rem;
		font-weight: 400;
        width: 100%;
        margin-top: 4px;
		color: $textcol1;
    }
}
input, select {
	outline: none;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid lighten($blue, 60%);
	
    
}
.red {
    color: $invalid;
}
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 30px;
	gap: 1.5rem;
	h1 {
		font-size: 1.625rem;
		text-align: left;
		align-self: flex-start;
		margin-bottom: 0;
	}
	.pass-alert,
	.username-alert {
		display: none;
	}
	input:not([type="submit"]), select {
		outline: none;
		width: 100%;
		padding: 10px;
		border-radius: 4px;
		border: 2px solid transparent;
		background: $bg;
		margin-top: 4px;
	}
    input, select {
        width: 100%;
        background: $bg;
        margin-top: 4px;
    }
	label {
		width: 100%;
		font-weight: 600;
		font-size: 1rem;
	}
	&.invalid-pass {
		#password {
			outline: 2px $invalid solid;
			//background: $invalid-bg;
		}
		.pass-alert {
			display: block;
		}
	}
	&.invalid-username {
		#username {
			outline: 2px $invalid solid;
			//background: $invalid-bg;
		}
		.username-alert {
			display: block;
		}
	}
}
.invalid {
	outline: 2px $invalid solid !important;
}
button:disabled {
	filter:grayscale(1);
	opacity: 0.5;
	cursor: not-allowed;
}