$bg: #F2E9EB;
$bg2: #ffffff;
$blue:  #4076AC;
$blue2:  #315D88;
$transition: 0.3s ease;
$textcol: #000;
$linkcol: #2f2f2f;
$hovercol: #000000;
$primary: #007bff;
$primary-hover: #0056b3;
$invalid: #db0000;
$invalid-bg: #dcb5b5;
$yellow: #ebb606;