$bg: #D9D9D9;
$bg2: #B4B4B4;
$gray:  #9C9C9C;
$gray2:  #848484;
$transition: 0.3s ease;
$textcol: #000;
$linkcol: #2f2f2f;
$hovercol: #ffffff;
$primary: #007bff;
$primary-hover: #0056b3;
$invalid: #db0000;
$invalid-bg: #dcb5b5;
$yellow: #ebb606;