$bg: #e7e6e7;
//$bg2: #ffffff;
$bg2: #000000;
//$bg2: #EBC999;
// $blue:  #4076AC;
// $blue2:  #315D88;
// $blue:  #EBC999;
// $blue2:  #ecbe7e;
$blue:  #4E565F;
$blue2:  #31383F;
$transition: 0.3s ease;
$textcol1: #ffffff;
$textcol: #2a2828;
$linkcol: #ffffff;
$hovercol: #EBC999;
// $primary: #007bff;
// $primary-hover: #0056b3;
$primary: #F26659;
$primary-hover: #f14e40;
$invalid: #db0000;
$invalid-bg: #ff8282;
$yellow: #ebb606;